<%= render :template => 'commons/_header' %>

<h3>Modification Service</h3>
<br/>
<%= render 'form' %>


<div class="center">
	<%= link_to 'Back', services_path, class:"btn btn-inverse" %> |
	<%= link_to 'Show', @service, class:"btn btn-info" %>
</div>
