<%= render :template => 'commons/_header' %>

<h1>Editing bdl</h1>

<%= render 'form' %>

<div class="center">
	<%= link_to 'Back', bdls_path, class:"btn btn-inverse" %> |
	<%= link_to 'Show', @bdl, class:"btn btn-info" %>
</div>