<%= render 'header' %>

<h1>Editing produit</h1>

<%= render 'form' %>

<div class="center">
	<%= link_to 'Back', produits_path, class:"btn btn-inverse" %> |
	<%= link_to 'Show', @produit, class:"btn btn-info" %>
</div>
