<%= render :template => 'commons/_header' %>

<h3>Editing produit</h3>

<%= render 'form' %>

<div class="center">
	<%= link_to 'Back', produits_path, class:"btn btn-inverse" %> |
	<%= link_to 'Show', @produit, class:"btn btn-info" %>
</div>
