<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#">Factu</a>
    <ul class="nav">
      <li><a href="/produits">Produits</a></li>
      <li class="active"><a href="/clients">Client</a></li>
    </ul>
  </div>
</div>
