// Place all the styles related to the Commandes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
tr.odd {
  background-color: #F9F9F9;
}

tr.odd td.sorting_1 {
  background-color: #BCD9E1;
}

tr.even td.sorting_1 {
  background-color: #D5EAF0;
}

div.cartouche {
  display: none;
}

div.legal-footer {
    display: none;
}

div.footer {
  display: none;
}

.very-small {
  font-size: 65%;
}

@media print
{
  div.navbar {
    display: none;
  }
  
  div.button {
    display: none;
  }
  
  div.well {
    display: none;
  }
  
  div.cartouche {
    display: block;
    margin-top:-50px;
  }
  
  
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  div.footer {
    display: block;
    position: absolute;
    bottom: 0;
  }
  
  div.legal-footer {
    display: block;
  }
}

