// Place all the styles related to the Commandes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
tr.odd {
  background-color: #F9F9F9;
}

tr.odd td.sorting_1 {
  background-color: #BCD9E1;
}

tr.even td.sorting_1 {
  background-color: #D5EAF0;
}
