<%= render :template => 'commons/_header' %>

<h3>Liste des mailings</h3>
<br />

<table id="mailing" class="table" >
	<thead>
		<tr>
			<th>Id</th>
			<th>Texte</th>
			<th>Statut</th>
		</tr>
  </thead>
  <tbody>
	<% @mailings.each do |mailing| %>	
	  <td><%= mailing.id %></td>
	  <td><%= mailing.t_texte %></td>
	  <td><%= mailing.statut.label %></td>
	</tr>	
	<% end %>
  </tbody>