<%= render :template => 'commons/_header' %>

<h3>Data Cleaning Clients</h3>
<br/>


<% if flash[:error] %>
<div class="alert alert-error fade in">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	<%= flash[:error] %>
</div>
<% end %>
<% if flash[:notice] %>
<div class="alert alert-block fade in">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	<%= flash[:notice] %>
</div>
<% end %>

<table id="cleaning" class="display" data-source="<%= cleaning_url(format: "json") %>" >
	<thead>
		<tr>
			<th>Clean</th>
			<th>N° Client</th>
			<th>Nom</th>
			<th>Num voie</th>
			<th>CP</th>
			<th>Ville</th>
			<th>Pays</th>
			<th>&nbsp;</th>
		</tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

