<%= render :template => 'commons/_header' %>

<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>TODO List :</h4>
  <ul>
  	<li>Sauvegarde factu ne marche pas (nombre a virgule)</li>
  	<li>Client : Chargement par fichier : ligne en rouge quand warning</li>
  	<li>Commande : Chargement par fichier : ligne en rouge quand warning</li>
  	<li>Commande : Chargement par fichier : date mal affichée</li><br />
  	<li>Commande : lié la tarification qui va bien en fonction de la date de factu</li>
  </ul>
</div>

<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>A mettre dans l'aide :</h4>
  <ul>
  	<li>Les fichiers CSV doivent etre sauvegardé en UTF-8 (captures écran)</li>
  </ul>
</div>
