<%= render :template => 'commons/_header' %>

<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>TODO List : ALL</h4>
  <ul>
  	<li>All : Traduction complete (formulaire, calendrier, etc)</li>
  	<li>All : installer Mantis + lien sur accueil</li>
  </ul><br/>
  
  <h4>TODO List : COMMANDE</h4>
  <ul>
  	<li>Commande : sauvegarde ne marche pas (nombre a virgule)</li>
  	<li>Commande : Chargement par fichier : ligne en rouge quand warning</li>
  </ul><br/>
  
    <h4>TODO List : CLIENT</h4>
  <ul>
  	<li>Client : Chargement par fichier : ligne en rouge quand warning</li>
  	<li>Client : Data Cleanning</li>
  </ul><br/>
</div>

<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>A mettre dans l'aide :</h4>
  <ul>
  	<li>Les fichiers CSV doivent etre sauvegardé en UTF-8 (captures écran)</li>
  </ul>
</div>
