<%= render :template => 'commons/_header' %>

<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>TODO List : ALL</h4>
  <ul>
  	<li>All : Traduction complete (formulaire, calendrier, etc)</li>
  	<li>All : installer Mantis + lien sur accueil</li>
  </ul>
</div>

<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>A mettre dans l'aide :</h4>
  <ul>
  	<li>Les fichiers CSV doivent etre sauvegardé en UTF-8 (captures écran)</li>
  </ul>
</div>


<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>TODO soon :</h4>
  <ul>
  	<li>Mailing (nouvel ecran) : a tous les clients qui ont commandé les 2 derniere année</li>
  	<li></li>
  	<li>Dans création d'une commande, si Bdl selectionné, vérifier le stock dispo (Ajax)</li>
  	<li></li>
  	<li>Positionner la colonne "a_livrer" lors de l'import</li>
  </ul>
</div>