<%= render :template => 'commons/_header' %>

<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>TODO List : ALL</h4>
  <ul>
  	<li>All : Traduction complete (formulaire, calendrier, etc)</li>
  	<li>All : installer Mantis + lien sur accueil</li>
  </ul><br/>
  
  <h4>TODO List : COMMANDE</h4>
  <ul>
  	<li>Commande : sauvegarde ne marche pas (nombre a virgule)</li>
  	<li>Commande : Chargement par fichier : ligne en rouge quand warning</li>
  </ul><br/>
  
  <h4>TODO List : CLIENT</h4>
  <ul>
  	<li>Client : Chargement par fichier : ligne en rouge quand warning</li>
  	<li>Client : Data Cleanning</li>
  </ul><br/>
  
  <h4>TODO List : PARAMETER</h4>
  <ul>
  	<li>Parametrer l'adresse de départ</li>
  	<li>Parametrer les DataTables</li>
  </ul>
</div>

<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>A mettre dans l'aide :</h4>
  <ul>
  	<li>Les fichiers CSV doivent etre sauvegardé en UTF-8 (captures écran)</li>
  </ul>
</div>


<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>TODO soon :</h4>
  <ul>
  	<li>Carto : fonction zoom a coder</li>
  	<li>Carto : tracer la route</li>
  	<li>Carto : tracer la route dans une popup</li>
  	<li>Dans création d'une commande, si Bdl selectionné, mettre le client automatiquement (not easy)</li>
  	<li>Dans création d'une commande, si Bdl selectionné, vérifier le stock dispo</li>
  	<li></li>
  	<li></li>
  	<li>Positionner la colonne "a_livrer" lors de l'import</li>
  	<li>Améliorer l'écran de facuration (génération PDF (cf RailsCasts) + bouton Imprimer)</li>
  	<li>Le bouton imprimer freeze la commande</li>
  </ul>
</div>