<%= render :template => 'tarifs/../_header' %>

<h1>Editing tarif</h1>

<%= render 'form' %>

<div class="center">
	<%= link_to 'Back', tarifs_path, class:"btn btn-inverse" %> |
	<%= link_to 'Show', @tarif, class:"btn btn-info" %>
</div>
